.outer{
    position: absolute;
    z-index: 20;
}
.plant-pop-up-container{
    position: relative;
    height: 600px;
    width: 750px;
    background: pink;
    z-index: 20;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 195px;
}

.close-icon{
    position: absolute;
    right: 0;
    font-size: 25px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 25;
}

.edit-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
    margin-top: 100px;
    margin-right: 10px;
    z-index: 25;
    cursor: pointer;
}

.trash-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
    margin-top: 150px;
    margin-right: 10px;
    z-index: 25;
    cursor: pointer;
}

.pop-up-img{
    height: 420px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pop-up-title{
    color: rgb(23, 82, 66);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.pop-up-description{
    color: rgb(23, 82, 66);
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    padding-left: 80px;
    font-size: 18px;
}

.pop-up-water-sun{
    color: rgb(23, 82, 66);
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    padding-left: 80px;
    font-size: 19px;
}

.pop-up-label{
    font-size: 20px;
}