.slideshow{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slideshow li { 
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 20s linear infinite; 
}

@media (max-width: 960px){
  .slideshow li {
    width: 100%;
  }
}

.slideshow li:nth-child(1) { 
    background-image: url(../../LandingPhotos/mainCacti.jpg)

}

.slideshow li:nth-child(2) { 
    background-image: url(../../LandingPhotos/secondCacti.jpg);
    animation-delay: 5s; 
}

.slideshow li:nth-child(3) { 
    background-image: url(../../LandingPhotos/thirdCacti.jpg);
    animation-delay: 9s; 
}

.slideshow li:nth-child(4) { 
    background-image: url(../../LandingPhotos/fourthCacti.jpg);
    animation-delay: 13s; 
}

.slideshow li:nth-child(5) { 
    background-image: url(../../LandingPhotos/fifthCacti.jpg);
    animation-delay: 17s; 
}

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}

